* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f2f2f2;
  --text-color: #333;
  --footer-bg-color: #222;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  margin: 0 auto;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 35px;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
  }
}
.mobile-toggle {
  display: none;
  cursor: pointer;
}
.hero {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.hero-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color);
  background-image: linear-gradient(rgba(5, 26, 5, 0.486));
}
.hero-overlay h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
}
.hero-overlay p {
  font-size: clamp(1rem, 5vw, 1.3rem);
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}
.swiper {
  width: 100%;
  height: 90dvh;
  background-image: linear-gradient(rgb(22, 37, 22));
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.who-we-are-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  min-height: 600px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.who-we-are-wrapper img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.who-we-are-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.who-we-are-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 500px;
}
.what-we-are-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  min-height: 600px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.what-we-are-wrapper img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.what-we-are-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.what-we-are-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 500px;
}
.get-involved-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--secondary-color);
  gap: 30px;
  background-image: linear-gradient(rgba(7, 36, 7, 0.767)),
    url("assets/get-involve.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.get-involved-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.get-involved-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 600px;
  text-align: center;
}
.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  &:hover {
    background-color: #135c16;
    transition: background-color 0.3s ease;
  }
}
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
/*=================== about page=================== */
.about-hero {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(7, 36, 7, 0.767)),
    url("assets/get-involve.jpg");
  color: var(--secondary-color);
  text-align: center;
    background-size: cover;
    background-position: center;
}
.about-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about-hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}
.about-content{
    padding-block: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}
.grid-item {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  color: #1f2937;
  display: flex;
  justify-content: start;
  align-items: center;
  /* height: 200px; */
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}
.grid-item:hover {
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* ============contact page============ */
.contact-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}
.contact-grid-item {
  background-color: #ffffff;
  border-radius: 1rem;
  /* padding: 2rem; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  color: #1f2937;
  display: flex;
  justify-content: start;
  align-items: center;
  /* height: 200px; */
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.contact-grid-item:nth-child(2) {
  padding: 20px;
}
.contact-grid-item:hover {
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .contact-grid-container {
    grid-template-columns: 1fr;
  }
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
textarea {
    resize: vertical;
    min-height: 200px;
}

/* =============================== tablet below ================ */

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 1.5rem;
  }
  .hero-overlay p {
    font-size: 1rem;
  }
  .who-we-are-wrapper,
  .what-we-are-wrapper,
  .get-involved-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .what-we-are-wrapper {
    flex-direction: column-reverse;
  }
  .who-we-are-wrapper img,
  .what-we-are-wrapper img {
    width: 100%;
  }
  .mobile-toggle {
    display: block;
    cursor: pointer;
  }
  nav {
    display: none;
  }
}
